/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
/* * {margin: 0; padding: 0;} */

html {
	height: 100%;
	/*Image only BG fallback*/

	/*background = gradient + image pattern combo*/
	background:
		linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

body {
	font-family: montserrat, arial, verdana;

}

.container {
		text-align: center;
		margin: 0; padding: 0;
}

.row {
  text-align: center;
	margin: 0; padding: 0;
}

}

#container {
  position: absolute;
}

.ribbon {
  position:absolute;
  top: 5%;
  right: 10%;
	border-radius: 50%
}

#newEventButton {
position:absolute;
top: 5%;
left: 10%;
border-radius: 50%;

}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position:center;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* The search field */
#filterHobbyInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;

}

/* The search field when it gets focus/clicked on */
#filterHobbyInput:focus {outline: 3px solid #ddd;}

	/*stacking fieldsets above each other*/
	position: relative;
}

/*form styles*/
#createNewEventForm {
  display: none;
	width: inherit;
	margin: inherit;
	text-align: center;
	position: relative;


}
#createNewEventForm fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
}

.formBlock {
	display: none;
	width: 250px;
	margin: 10px;
	z-index: 1;
}
