/*custom fonts*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
	height: 100%;
	/*Image only BG fallback*/

	/*background = gradient + image pattern combo*/

		background-color: rgb(245, 245, 250);
}

body {
	font-family: montserrat, arial, verdana;

}

header {
	background-color: rgb(255, 255, 255);
	position: fixed;
	top: 0;
  left: 0;
  right: 0;
	overflow: hidden;
	max-height: 80px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.025);
	z-index: 50;
}

/*form styles*/
#createNewEventForm {
  position:fixed;
	width: 100%;
	margin:50px auto;
	text-align: center;
  z-index: 1;
  top: 100px;
	left: 0;
}

#createNewEventForm fieldset {

	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	width: 100%;
	background-color: rgb(241, 127, 119);
	left: 0;
}

/*profile pic styles*/
.ribbon {
  position:absolute;
  top: 10%;
  right: 10%;
	border-radius: 50%
}
/* header logo middle */
.logo {

	padding-top: 5;
	padding-bottom: 5;

}


/*table style */
#feed {
	font-family: montserrat, arial, verdana;
  /* background-image: url(https://placeimg.com/640/550/any); */
	color: white;
	width: 80%;
  text-align: left;
	border-collapse: collapse;
}

.feed {
	margin-top: 75px;
}

td {
	padding: 15px;
	border-bottom: 1px solid black;
	background-image: url(https://placeimg.com/640/550/any);

}

th {
	padding: 15px;
	color: black;
}

/*filter style */
#filterForm {
	position:fixed;
	width: 100%;
	margin:50px auto;
	text-align: center;
  z-index: 2;
  top: 100px;
}

#filterForm fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	width: 100%;
}

/* Below is CSS for the footer*/


/* End Footer CSS */

/*hobby filter button styling, hiding and hover qualities */
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The search field */
#myInput {
  border-box: box-sizing;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
		display:none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.fill {
	display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
	max-height: 300px;
	width: 100vw;
	max-width: 100%;
}

.fill img {
		flex-shrink: 0;
    width: 100vw;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 290px;
    left: 18px;
}

.rsvpButton {
	position: relative;
	margin-left: 80%;
}

#newEventButton {
	position: fixed;
	top: 25px;
	left: 80px;
}

#filterButton {
	position: fixed;
	top: 25px;
	left: 105px;
}

#rsvpList {
	float: left;
}

#maps {
	float: left;
}
